In [1]:
import pandas as pd
import numpy as np

# Ejercicio 1

Obtener las primeras `3` filas de un objeto `DataFrame`.

In [2]:
#Datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio',
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos,
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [3]:
#Solución, aquí tu respuesta
df.head(3)

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí

# Ejercicio 2

Obtener las últimas `3` filas de un objeto `DataFrame`.

In [ ]:
#Datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio',
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos,
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [14]:
#Solución
df[-3: ]

   nombre  puntaje  intentos califico
h   Edgar      NaN         1       No
i   Angie      8.0         2       No
j  Irlesa     18.0         1       Sí

Te dice el número de filas y de columnas en total. El 0 te dice el número de filas y el 1 de columnas.

In [15]:
df.shape

(10, 4)

In [16]:
df.shape[0]

10

In [17]:
df.shape[1]

4

In [18]:
df.tail(3)

   nombre  puntaje  intentos califico
h   Edgar      NaN         1       No
i   Angie      8.0         2       No
j  Irlesa     18.0         1       Sí

# Ejercicio 3

Seleccionar las columnas ['nombre', 'califico'] de un objeto `DataFrame`.

In [19]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio',
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos,
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [20]:
df[["nombre","califico"]]

    nombre califico
a    Oliva       Sí
b  Daniela       No
c     Juan       Sí
d   Germán       No
e   Edward       No
f     Alex       Sí
g    Julio       Sí
h    Edgar       No
i    Angie       No
j   Irlesa       Sí

# Ejercicio 4

Comprobar si este objeto `DataFrame` está vacío con `empty`.

In [21]:
df = pd.DataFrame({'X': []})

df

Empty DataFrame
Columns: [X]
Index: []

In [22]:
df.empty

True

# Ejercicio 5

Crear un objeto `DataFrame` a partir de objetos `Series`. Todas las listas deben tener el mismo tamaño o longitud, sino no te deja crearlo.

In [23]:
#Partimos de dos series
nombres = pd.Series(['Edward', 'Germán', 'Daniela'])
edades = pd.Series([27, 23, 19])

In [27]:
#1. Metemos las series en un diccionario
diccionario = {"Nombre":nombres, "Edad":edades}
#2. Metemos el diccionario dentro de un dataframe
df = pd.DataFrame (diccionario)
df

    Nombre  Edad
0   Edward   5.0
1  Daniela   6.0
2   Germán   NaN

# Ejercicio 6

Determinar los datos en un `DataFrame` que son nulos (NaN).
NaN es un 'Not a Number'.

In [40]:
nombres = ['Edward', 'Daniela', 'Germán']
edades = [5, 6, np.nan]
fecha_nacimiento = [pd.Timestamp('1990-01-03'), None, np.nan]

personas = {'nombre': nombres, 'edad': edades, 'fecha_nacimiento': fecha_nacimiento}

df = pd.DataFrame(data=personas)

df

    nombre  edad fecha_nacimiento
0   Edward   5.0       1990-01-03
1  Daniela   6.0              NaT
2   Germán   NaN              NaT

Para ver de que tipo son los datos que tenemos.

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nombre            3 non-null      object
 1   edad              2 non-null      float64
 2   fecha_nacimiento  1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 200.0+ bytes

Te dice todos los nulos

In [42]:
df.isnull()

   nombre   edad  fecha_nacimiento
0   False  False             False
1   False  False              True
2   False   True              True

Te suma todos los nulos

In [43]:
df.isnull().sum()

nombre              0
edad                1
fecha_nacimiento    2
dtype: int64

# Ejercicio 7

Modificar un valor o entrada específico de un objeto `DataFrame` usando `loc`.

In [29]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

   X  Y   Z
a  1  5   2
b  2  4   3
c  3  3   5
d  4  2   7
e  5  1  11

Con iloc defines las filas (3) y las columnas (0).

In [62]:
df.iloc [3,0]

'Germán'

In [35]:
df.loc['a','X'] = 7
df

   X  Y   Z    x
a  7  5   2  7.0
b  2  4   3  NaN
c  3  3   5  NaN
d  4  2   7  NaN
e  5  1  11  NaN

# Ejercicio 8

Acceder a un valor o entrada específico de un objeto `DataFrame` usando `loc`.

In [44]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

   X  Y   Z
a  1  5   2
b  2  4   3
c  3  3   5
d  4  2   7
e  5  1  11

# Ejercicio 9

Sumar los valores de la columna intentos con `sum`.

In [45]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio',
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos,
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [46]:
df.intentos.sum()

19

# Ejercicio 10 (Opcional)

 Agregar una nueva fila a un objeto `DataFrame` por medio de `loc`.

In [47]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio',
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos,
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [66]:
df.loc['k',['nombre','puntaje','intentos','califico']] = "Andrea",20.0, 1.0,"Sí"
df

    nombre puntaje intentos califico
a    Oliva    11.5      1.0       Sí
b  Daniela     8.0      3.0       No
c     Juan    15.5      2.0       Sí
d   Germán     NaN      3.0       No
e   Edward     8.0      2.0       No
f     Alex    19.0      3.0       Sí
g    Julio    13.5      1.0       Sí
h    Edgar     NaN      1.0       No
i    Angie     8.0      2.0       No
j   Irlesa    18.0      1.0       Sí
k   Andrea    20.0      1.0       Sí

In [54]:
df.loc['k','nombre'] = "Andrea"
df.loc ['k','puntaje'] = 20
df.loc ['k','intentos']= 1
df.loc ['k','califico'] = "Sí"
df

    nombre  puntaje  intentos califico
a    Oliva     11.5       1.0       Sí
b  Daniela      8.0       3.0       No
c     Juan     15.5       2.0       Sí
d   Germán      NaN       3.0       No
e   Edward      8.0       2.0       No
f     Alex     19.0       3.0       Sí
g    Julio     13.5       1.0       Sí
h    Edgar      NaN       1.0       No
i    Angie      8.0       2.0       No
j   Irlesa     18.0       1.0       Sí
k   Andrea     20.0       1.0       Sí

# Ejercicio 11

Eliminar una fila de un `DataFrame` con la función `drop`.

In [55]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio',
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos,
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

# Ejercicio 12

Mostrar los n primeros y últimos registros de un objeto `DataFrame` con `head` y `tail`.

In [ ]:
datos_1 = list(range(1, 101))
datos_2 = list(range(1, 101))

df = pd.DataFrame({'A': datos_1, 'B': datos_2})

df

      A    B
0     1    1
1     2    2
2     3    3
3     4    4
4     5    5
..  ...  ...
95   96   96
96   97   97
97   98   98
98   99   99
99  100  100

[100 rows x 2 columns]

# Ejercicio 13

Agregar una nueva columna a un `DataFrame` con notación de slicing.

`df['nombre_nueva_columna'] = valores`

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio',
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos,
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
#Valores nueva columna
colores = ['Negro', 'Blanco', 'Azul', 'Verde', 'Rojo', 'Amarillo',
           'Gris', 'Naranja', 'Lila', 'Café']

# Recorrer un df

 Para iterar cada una de las filas de un `DataFrame` utilizamos la función `iterrows`.

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio',
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos,
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
for indice, fila in df.iterrows():
    print(fila['nombre'], fila['califico'])

# Ejercicio 14 (Opcional)

Obtener como una lista Python los nombres de las columnas de un `DataFrame`.

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

df = pd.DataFrame(datos)

df

# Ejercicio 15

Renombrar las columnas de un objeto `DataFrame` a partir del diccionario dado.

In [ ]:
datos = {'Columna1': [1, 2, 3, 4, 5], 'Columna2': [5, 4, 3, 2, 1],
         'Columna3': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
#Diccionario con los nuevos nombres de las columnas
renombrado_columnas = {'Columna1': 'X', 'Columna2': 'Y', 'Columna3': 'Z'}

# Ejercicio 16

* Guardar los registros de un `DataFrame` en un archivo de formato **CSV**.
* Prueba a descargarlos en tu PC.

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio',
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos,
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí